:root{
    --bg-color: #0B2434;
    --bg-primary: #f5f5f5;
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color) ;
    padding: 40px;
}
main{
    height: 600px;
    max-width: 800px;
    background-color: var(--bg-primary);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.die{
    font-size: large;
    height: 50px;
    width: 50px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.die-container{
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 64px;
    justify-items: center;
}

